<h1>New Game</h1>

<div class="letters">
  <% @letters.each do |letter| %>
  <div class="btn btn-outline-warning">
    <%= letter  %>
  </div>
  <% end %>
</div>

<div class="text-box">
  <p>What is the longest word you can find?</p>
  <p><%=@score%></p>
  <form action="/score" class="input-group mb-3 rounded">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input name="letters" type="hidden" value="<%=@letters%>">
    <input type="text" name="word" class="form-control">
    <div class="input-group-prepend">
      <input type="submit" value="Play" class="input-group-prepend btn btn-outline-warning rounded-right">
    </div>
  </form>
</div>

<%= link_to "Shuffle", new_path %>



